.sobremim {
    display:flex;
    align-items: center;
    padding: 60px 50px ;
    background: var(--background);
    /* width: 100vw; */
    height: 100vh;
}
.sobremim div h2{
    color: var(--primary);
    font-size:75px;
    margin:30px;
}
.sobremim div p{
    color: white;
    font-size: 16px;
    margin: 30px;
    margin-top: 05%;
    text-align: justify;
}
@media (max-width: 600px) {
    .sobremim div h2{
    font-size:50px;
    }
}